<% title %>
<div class="row">
    <div class="small-12 columns">
        <h1>Realtime Searches</h1>
        <p>What you see below is a stream of searches as they happen in real time.</p>
        <div id="realtime_searches">
            <ul class="disc">

            </ul>
        </div>
    </div>
</div>

<%= javascript_include_tag File.join(APP_CONFIG['realtime_url'], '/socket.io/socket.io.js') %>
<%= javascript_include_tag 'realtime' %>