<table class="datatable">
    <thead>    
        <tr>
            <th>Rank</th>
            <th>Category</th>
            <th>Count</th>
            <th>Percent</th>
        </tr>
    </thead>
    <tbody>
        <% iterations = 0 %>
        <% clicks.each do |item, count| %>
            <% iterations += 1 %>
            <tr>
                <td><%= iterations %></td>
                <!-- <td><%# item %></td> -->
                <td><%= link_to item, controller: "appstats", action: "detail", ga_scope: "category", ga_category: "#{item}" %></td>
                <td><%= count %></td>
                <td><%= number_to_percentage((count / total_clicks.to_f)*100, precision: 2) %></td>
            </tr>
        <% end %>
    </tbody>
</table>