<% title('Foo') %>
<div class="row">
    <div class="small-12 columns">
        <h1><%= @page_title %></h1>

        <label for="from">From</label>
        <input type="text" id="from" name="from">
        <label for="to">to</label>
        <input type="text" id="to" name="to">
        <button type="button" onclick="printDate()">Print Date Range</button>

    </div>
</div>
