<style>
#dateButton {
	width: 30%;
}

.inputLabel, #datePickerText {
	float: left;
	width: 60%;
	color: 	#000;
	font-size: 25px;
	font-family: "Lucida Console";
}

#from, #to, #num {
	float: left;
	width: 25%;
}

.clearfix{
    clear:both
}
</style>

<% title('Foo') %>
<div class="row">
    <div class="small-12 columns">
        <h1><%= @page_title %></h1>

       	<div style="display: inline-block; width: 750px">
       	 	<label  for="from" 		class="inputLabel"> From: </label>
	        <input  id="from"		type="text" 	name="from">
	    </div>
	    <div style="display: inline-block; width: 750px">
	    	<label  for="to" 		class="inputLabel"> To: </label>
	        <input  id="to"			type="text" 	name="to">
	        <div 	class="clearfix"></div>
	    </div>
	    <div style="display: inline-block; width: 750px">
	    	<p id="datePickerText"><%= "Days in Sample: #{@days_in_sample}" %></p>
	    </div>
	    <% if @page_title=='spelling-suggestion'||@page_title=='best-bets-regular'||@page_title=='Top Searches' %> 
	    	<div style="display: inline-block; width: 750px">
	            <label  for="num"		class="inputLabel"> Number of Results to Display: </label>
	   			<input  id="num"		type="number" 	name="num" min="0">
	   		</div>
        <% end %>
	    <div style="width: 750px;">
	    	<button id="dateButton"	type="button"> Update </button>
	    </div>
    </div>
</div>
