<h1><%= @page_title %></h1>
<div class="graphGroup">
    <div class="iconContainer" id="tableIconContainer"></div>
    <svg class="graph" id="graph_general_table" width="840" height="473"></svg>
    </svg>
</div>

<div class="graphGroup">
    <div class="iconContainer" id="graphIconContainer"></div>
    <svg class="graph" id="graph_general_statistics" width="840" height="473">
    </svg>
</div>

<div style="display: inline-block; width: 1000px;">
    <svg class="graph_mini" id="mini0" width="280" height="158" onmouseover="lighten()" onmouseout="darken()"></svg>
    <svg class="graph_mini" id="mini1" width="280" height="158" onmouseover="lighten()" onmouseout="darken()"></svg>
    <svg class="graph_mini" id="mini2" width="280" height="158" onmouseover="lighten()" onmouseout="darken()"></svg>
    <div class="clearfix"></div>
</div>