<div class="graphGroup">
    <div class="iconContainer" id="tableIconContainer"></div>
    <svg class="graph" id="graph_general_table" width="960" height="300"></svg>
    </svg>
</div>

<div class="graphGroup">
    <div class="iconContainer" id="graphIconContainer"></div>
    <svg class="graph" id="graph_general_statistics" width="960" height="500">
    </svg>
</div>

<div style="display: inline-block; width: 1000px;">
    <svg class="graph_mini" id="mini0" width="320" height="200" onmouseover="lighten()" onmouseout="darken()"></svg>
    <svg class="graph_mini" id="mini1" width="320" height="200" onmouseover="lighten()" onmouseout="darken()"></svg>
    <svg class="graph_mini" id="mini2" width="320" height="200" onmouseover="lighten()" onmouseout="darken()"></svg>
    <div class="clearfix"></div>
</div>