<h2>Most Frequent Spelling Suggestions</h2>
<div class="graphGroup">
    <div class="iconContainer" id="spIconContainer"></div>
	<svg id="graph_spelling_suggestions" width="1200" height="800"></svg>
</div>