<h1><%= @page_title %></h1>
<h2>Most Frequent Searches</h2>
<div class="graphGroup">
    <div class="iconContainer" id="tsIconContainer"></div>
	<svg id="graph_top_searches" width="840" height="240"></svg>
</div>