<h1><%= @page_title %></h1>
<h2> Sessions by Location </h2>
<div class="graphGroup">
    <div class="iconContainer" id="locationIconContainer"></div>
    <div style="float: left; display: inline-block;">
    	<svg id="graph_sessions_location" width="840" height="473"></svg>
    </div>
    <%= render partial: 'sessions_details_location_filters' %>
</div>

<div class="clearfix"></div>
<h2> Sessions by Access Device </h2>
<div class="graphGroup">
    <div class="iconContainer" id="deviceIconContainer"></div>
    <div style="float: left; display: inline-block;">
    	<svg id="graph_sessions_device" width="840" height="473"></svg>
    </div>
    <%= render partial: 'sessions_details_device_filters' %>
</div>