<h1><%= @page_title %></h1>
<h2>Most Frequent Spelling Suggestions</h2>
<div class="graphGroup">
    <div class="iconContainer" id="spIconContainer"></div>
	<svg id="graph_spelling_suggestions" width="840" height="240"></svg>
</div>