<h1><%= @page_title %></h1>
<h2>Frequency of Modules Clicked</h2>
<div class="graphGroup">
	<div class="iconContainer" id="moduleIconContainer"></div>
	<svg id="graph_module_clicks" width="840" height="240"></svg>
</div>

<h2>Frequency of Result-Type Guides Clicked</h2>
<div class="graphGroup">
	<div class="iconContainer" id="resultIconContainer"></div>
	<svg id="graph_result_clicks" width="840" height="240"></svg>
</div>