<h2> Sessions by Location </h2>
<div class="graphGroup">
    <div class="iconContainer" id="locationIconContainer"></div>
    <svg id="graph_sessions_location" width="960" height="500"></svg>
</div>

<h2> Sessions by Access Device </h2>
<div class="graphGroup">
    <div class="iconContainer" id="deviceIconContainer"></div>
    <svg id="graph_sessions_device" width="960" height="500"></svg>
</div>