<h2>Frequency of Modules Clicked</h2>
<svg id="graph_module_clicks" width="1200" height="450"></svg>

<h2>Frequency of Result-Type Guides Clicked</h2>
<svg id="graph_result_clicks" width="1200" height="450"></svg>