<h1><%= @page_title %></h1>
<h2> Sessions by Location </h2>
<div class="graphGroup">
    <div class="iconContainer" id="locationIconContainer"></div>
    <svg id="graph_sessions_location" width="840" height="473"></svg>
</div>

<h2> Sessions by Access Device </h2>
<div class="graphGroup">
    <div class="iconContainer" id="deviceIconContainer"></div>
    <svg id="graph_sessions_device" width="840" height="473"></svg>
</div>