<h3>Graph Filters</h2>
<ul class="side-nav" id="filter_list">
    <li> <input type="checkbox" id="onCampus">  On Campus </li>
    <li> <input type="checkbox" id="offCampus"> Off Campus </li>
    <li> <input type="checkbox" id="isMobile">  Mobile Connection </li>
    <li> <input type="checkbox" id="notMobile"> Non-mobile Connection </li>
</ul>
