<div style="float: left; display: inline-block;">
	<hDevice Graph Filters</h4>
	<ul class="side-nav" id="filter_list">
		<form>
		    <li> <input class="session_device_filter" type="radio" name="dev" value="num" checked="checked">  Count </li>
		    <li> <input class="session_device_filter" type="radio" name="dev" value="perc"> Percent </li>
		</form>
	</ul>
</div>