<h3>Graph Filters</h3>

<h4>Location Graph</h4>
<ul class="side-nav" id="filter_list">
	<form>
	    <li> <input class="session_location_filter" type="radio" name="loc" value="num" checked="checked">  Count </li>
	    <li> <input class="session_location_filter" type="radio" name="loc" value="perc"> Percent </li>
	</form>
</ul>

<h4>Access Device Graph</h4>
<ul class="side-nav" id="filter_list">
	<form>
	    <li> <input class="session_device_filter" type="radio" name="dev" value="num" checked="checked">  Count </li>
	    <li> <input class="session_device_filter" type="radio" name="dev" value="perc"> Percent </li>
	</form>
</ul>

