<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: 'menu' %>
    <div class="medium-9 columns">
        <%= render partial: "date_range" %>
    </div>
    <div class="medium-9 columns">
        <%= render partial: 'graph_clicks_overview' %>
    </div>
</div>
