<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: 'menu' %>
    <div class="medium-8 columns">
        <h2>General Statistics</h2>
        <%= render partial: 'graph_general_statistics'  %>
    </div>
    <%= render partial: "date_range" %>
</div>

