<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: "menu" %>
    <div class="small-9 columns">
        <%= render partial: "date_range" %>
    </div>
    <div class="small-9 columns">
        <h2>Sessions Overview</h2>
        <%= render partial: 'graph_sessions_overview' %>
    </div>
</div>