<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
    <%= render partial: "menu" %>
    <div class="medium-7 columns">
        <%= render partial: 'graph_sessions_overview' %>
    </div>
    <%= render partial: "date_range" %>
</div>