<% title %>
<%= render partial: '/layouts/page_title', locals: { page_title: @page_title } %>
<%= render partial: 'layouts/search_form' %>
<div class="quicksearch-ga-click-tracking">
<%= render partial: 'layouts/common_searches' %>
</div>
