<div class="row">
    <div class="small-12 medium-6 large-9 columns">
        <h1>Search <%= page_title %></h1>
    </div>
    <div class="medium-6 large-3 columns show-for-medium-up">
        <p><%= link_to 'About this search tool', about_path, class: 'about' %></p>
    </div>
</div>
