<% unless spelling_suggestion.blank? %>
    <% unless @query.size > 100 %>
    <div id='spelling-suggestion' class="row quicksearch-ga-serve-tracking quicksearch-ga-click-tracking">
      <div class="small-12 large-8 columns spelling-suggestion module">
        <h3 class="title">
          Did you mean <%= link_to spelling_suggestion, "?q=#{spelling_suggestion}",
            :data => { :quicksearch_ga_action => spelling_suggestion,
            :quicksearch_ga_label => @query }  %>?
        </h2>
      </div>
    </div>
    <% end %>
<% end %>
