<div class="row">
    <div class="small-12 medium-7 columns">
        <h2><%= @module_callout %></h2>
    </div>
    <div id="common-searches" class="small-12 medium-5 columns common-searches">
        <h4><%= t('call_to_try_searches') %>:</h4>
        <ul>
            <% @common_searches.each do | search | %>
                <li><%= link_to search, :q => search  %></li>
            <% end %>
        </ul>
    </div>
</div>
