<% if @query %>
    <h4>More search options for <span class="query">"<%= display_query %>"</span></h4>
<% else %>
    <h4>A few more places to try:</h4>
<% end %>
<ul>
    <% @search_services_for_display.each do |link| %>
        <li><%= link_to link['name'], link['link'] %></li>
    <% end %>
</ul>
