<% unless related_topics.blank? %>
    <h4>Related searches</h4>
    <ul>
    <% related_topics.each do |topic| %>
        <li><%= link_to topic, root_path(q: topic) %></li>
    <% end %>
    </ul>
<% end %>